.App {
  text-align: center;
  
  height: 100vh;
  width: 100%;
}
.formcomp{
  text-align: center;
  
  
}
.signupcont{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  padding: 10px;
  margin: 10px;
  
  
  
}

